.form {
  justify-content: center;
  padding: 5px;
}

.logo {
  height: 50px;
}

header{
  background-color:rgb(35, 62, 153);
}

.stats {
  height: 57vh;
}

.d-flex {
  justify-content: space-around;
  margin-bottom: 0;
}

.d-flex .position-center {
  justify-content: center;
}
/* #carouselExampleControls {
  background-color: black;
} */