body {
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  justify-content: center;
  padding: 5px;
}

.logo {
  height: 50px;
}

header{
  background-color:rgb(35, 62, 153);
}

.custom-radio {
  padding: 8px;
  margin-left: 24px;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
  background-color: #7782a6;
}

.d-flex {
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0;
}

.position-center {
  justify-content: center;
}

.register {
  /* flex-direction: column; */
  margin: 0 10%;
}

.carousel-item {
  padding: 2% 3% ;
  /* box-sizing: border-box;
  margin: 3%;  */
}

#alertEmail{
  text-align: center;
  color: #f5a147;
}

.btn-primary {
  background-color: rgb(35, 62, 153);
  border-color: rgb(35, 62, 153);
}

.register{
  color: rgba(24, 24, 24, 0.842);
}

@media screen and (min-width: 475px) {
  .register {
    margin: 0 30%;
  }
}
